html,
body {
    padding: 0;
    margin: 0;
    @media (max-width:400px) {
        overflow-x: hidden;
    }
}
* {
    box-sizing: border-box;
}
.wrapper {
    font-family: 'Open Sans', sans-serif;
    max-width: 1120px;
    padding: 0 15px;
    margin: 0 auto;
}
.flex {
    display: flex;
}
.btn {
    background: #f1e811;
    font-size: 20px;
    color: #060004;
    border-radius: 14px;
    display: inline-block;
    padding: 6px 20px;
    border: 2px solid #060004;
    text-decoration: none;
    transition: all ease 0.4s;
    font-weight: 800;
    &:hover {
        background: #fff;
    }
}
nav {
    width: 100%;
    display: flex;
    justify-content: space-between; 
        ALIGN-ITEMS: CENTER;
    @media (max-width:1025px) {
        
        position: fixed;
        top: 0;
        left: -110%;
        right: 110%;
        bottom: 0;
        background: #fff;
        z-index: 999;
        flex-direction: column;
        justify-content: center;
        &.open {
            left: 0;
            right: 0;
                margin: 0;
        }
    }
    a {
        color: #3f6b53;
        font-weight: 800;
        text-decoration: none;
        font-size: 20px;
        margin: 0 5px;
        @media  (min-width:1026px) and (max-width:1136px) {
            font-size: 15px;   
        }
        &:hover {
            color: #000;  
        }
        &.close {
            position: absolute;
            top: 10px;
            right: 10px;
            display: none;
            color: #000;
            svg {
                width: 30px;
                height: 30px;
            }
            @media (max-width:1025px) {
                display: block;   
            }
        }
    }
}
.dist {
    &-first {
        
        display: block;
        @media (max-width:900px) {
            display: none;
        }
        @media (min-width:1001px) {
            min-height: 980px;
        }
        position: relative;
        z-index: 2!important;
            width: calc( 100% - 667px );
        img {
//            margin-left: -100px;
//            margin-right: -100px;
//            min-width: 100%;
            @media (min-width:1001px) {
                position: absolute;
                left: 50%;
                transform: translate(-50%,0);
            }
            @media (max-width:1000px) {
                width: 100%;
            }
        }
    }
}
header {
    padding: 0 10px;
}
.header {
    align-items: center;
    justify-content: space-between;
    & > * {
        margin: 0 9px;
    }
    
    .btn {
        @media (max-width: 560px) {
            display: none;
        }
    }
}
section {
    padding: 25px 0; 
    &.first { 
        background: #ebebed; 
        
        margin-top: 70px;
        @media (max-width:450px) {
            margin-top: 40px;
        }
        h1,
        h3 {
            text-align: center;
            width: 100%;
        }
        h1 {
            color: #3f6b53; 
            font-weight: 800; 
            text-transform: uppercase;
                font-size: 29px;
                margin-bottom: -9px;
            @media (max-width:400px) {
                font-size: 24px;
            }
        }
        h3 {
            font-weight: normal;
            font-size: 25px;
            color: #5f6b81;
            display: block;
            max-width: 740px;
            margin: 18px auto 22px auto;
            line-height: 27px;
            @media (max-width:400px) {
                font-size: 21px;
            }
        }
        .lr {
            @media (max-width:710px) {
                    flex-wrap: wrap 
                }
            &-left {
                min-width: 320px;
                width: 320px;
                padding-top: 50px;
                > img {
                    width: 100%;
                    @media (max-width:710px) {
                        max-width: 300px;  
                        width: 100%;
                        display: block;
                        margin: 0 auto;
                    }
                }
                @media (max-width:900px) {
                    width: 50%;   
                }
                @media (max-width:710px) {
                    width: 100%;  
                        min-width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-content: center;
                        order: 2;
                    > img {
                        order: 0;
                    }
                }
            }
            &-right {
                min-width: 335px;
                padding-top: 42px;
                @media (max-width:900px) {
                    width: 50%; 
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
                @media (max-width:400px) {
                    min-width: 100%;
                }
                @media (max-width:710px) {
                    width: 100%;   
                        order: 1;
                }
            }
        }
    }
    &.bg {
        background: #ebebed;  
        .section_h2 {
            color: #2e5250;
        } 
        .h1 {
            color: #2e5250;
            margin-bottom: 25px;
            font-size: 19px;
            font-weight: 800; 
        }
    }
    &.second {
        padding-bottom: 0;
        .lr {
            @media (max-width:925px) {
                flex-wrap: wrap;
            }
            & > * {
                width: 50%;
                @media (max-width:925px) {
                    width: 100%;
                }
            }
            &-right {
                display: flex;
                justify-content: center;
                align-items: flex-end; 
                img {
                    width: 100%;
                    display: block;
                    @media (max-width:925px) {
                        max-width: 500px;   
                    }
                }
            }
        }
    }
    &.third {
        .section_h2 {
            margin-top: 26px;
            margin-bottom: 21px;
        }
    }
    &.six {
        padding-bottom: 0; 
        img {
            display: block;
        }
        
        .lr {
            @media (max-width:730px) {
                flex-direction: column;
            }
            &-left {
                width: 35%;
                @media (max-width:730px) {
                    width: 100%;   
                }
            }
            &-right {
                display: flex;
                align-items: flex-end;
                img {
                    width: 100%;
                    @media (max-width:730px) {
                           
                    }
                }
            }
        }
    }
}
.lr {
    display: flex; 
    & > * {
        position: relative;
        z-index: 3; 
    }
}
.form {
    background: #d8d8d8;
    border: 2px solid #000;
    padding: 19px 32px;
    color: #3f6b53;
    font-size: 13px;
    line-height: 17px;
    text-align: center; 
    max-width: 325px;
    margin-bottom: 20px;
    &_head {
        font-size: 20px;
        line-height: 25px;
        @media (max-width:450px) {
            font-size: 15px;
            line-height: 16px;
        }
    }
    b {
        display: block;
        font-weight: 800;
    }
    label {
        display: block;
        padding-top: 19px;
        text-align: left;
        font-size: 14px;
        color: #3f6b53;
    }
    input {
        padding: 16px 23px;
        border-radius: 7px;
        border: 2px solid #b9b9b9;
        display: block;
        width: 100%;
        margin-bottom: 15px;
        font-size: 14px;
        margin-top: 7px; 
    }
    .btn {
            display: block;
        width: 100%;
        margin-bottom: 8px;
        padding: 11px 20px;
    }
}
.black {
    width: 335px;
    color: #fff;
    margin: 0 auto;
    background: url(img/form/1.png) no-repeat top center;
    padding: 70px 60px 74px 60px;
    @media (max-width:400px) {
                margin-left: -13px;
            }
    &_head {
        text-align: center;
        font-size: 18px;
        b {
            display: block;
            text-transform: uppercase;
            font-size: 21px;
        }
    }
    &_bottom {
        align-items: center;
        justify-content: center;
        color: #efe813;
        font-size: 22px;
        font-weight: 600;
        text-transform: uppercase;
        line-height: 22px;
        padding-top: 13px;
        &-right {
            font-size: 35px;
            font-weight: 800;
            margin-left: 10px;
            display: flex;
            flex-direction: column;  
            align-items: flex-start;
            div {
                font-size: 28px;
                color: #fff;
                position: relative;
                margin-top: -7px;
                margin-bottom: 7px;
                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 50%;
                    left: -2px;
                    right: -2px;
                    background: #fff;
                    height: 2px; 
                }
            }
        }
    }
}
.info {
    @media (max-width:710px) {
        order: 2;  
    }
    &-icon {
        display: flex;
        margin-right: 18px;
        min-width: 30px; 
            width: 30px;
        justify-content: center;
        align-items: flex-start;
        img {
            width: 100%;
        }
    }

    margin-bottom: 40px;
    &-text {
        color: #676975;
        font-size: 17px;
        line-height: 21px;
        span {
            font-size: 19px;
            font-weight: 800;
            color: #3f6b53;
        }
    }
    &_s {
        flex-wrap: wrap;
        &-item {
                width: 50%;
                display: flex;
                align-items: center;
                margin-bottom: 63px;
                line-height: 20px;
                @media (max-width:625px) {
                    width: 100%; 
                    margin-bottom: 20px;
                }
            span {
                min-width: 50px;
                margin-right: 15px;  
            }
        }
    }
}

.section {
    &_h2 {
        align-items: center;
        color: #2e5250;
        margin-top: 41px;
        font-size: 33px;
        letter-spacing: 0.4px;
        @media (max-width:400px) {
                font-size: 24px;
            }
        img {
            margin-right: 10px;
        }
    }
    &_h3 {
        text-transform: uppercase;
        font-size: 36px;
        color: #2e5250;
        font-weight: 800;
        margin-bottom: 20px;
        margin-top: 18px;
        line-height: 44px;
        @media (max-width:400px) {
                font-size: 24px;
            line-height: 26px;
         }
    }
    &_p {
        color: #676975;
        margin-bottom: 65px;
        font-size: 24px;
        line-height: 28px;
    }
}
.quote {
    font-size: 30px;
    color: #2e5250;
    @media (max-width:400px) {
                font-size: 24px;
            }
    &:before { 
        content: '';
        width: 44px;
        height: 38px;
        background: url(img/bq.png) no-repeat top left;
        background-size: contain;  
        display: inline-block; 
        vertical-align: bottom;  
        margin-right: 14px;
    }
    &_slide {
        margin-top: 76px;
            padding-left: 40px;
    padding-right: 40px;
    }
    &_item {
            display: flex;
            font-size: 18px;
        &:before {
            margin-top: 5px;
                margin-right: 5px;
            width: 22px;
            height: 22px;
                min-width: 22px;
        }
        b {
            display: block;
            font-size: 22px;
        text-transform: uppercase;
        letter-spacing: -1px;
        }
    }
}

.shop {
    &.flex {
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: stretch;
    }
    &_item {
        border: 1px solid #dcdcdc;
        width: 24%;
        text-align: center;
        padding: 17px 19px;
        color: #2e5250;
        @media (max-width:800px) {
            width: 48%;
            margin-bottom: 15px;
        }
        @media (max-width:600px) {
            width: 100%;
            margin-bottom: 15px;
        }
        @media (max-width:450px) {
            padding: 7px;
            p {
                font-size: 13px;
            }
        }
        img {
            width: 100%;
            max-width: 176px;
        }
        &-top {
            padding-bottom: 60px;
            @media (max-width:450px) {
                padding-bottom: 10px;   
            }
        }
        b {
            padding: 23px 0 20px 0; 
            display: block; 
        }
    } 
}
.cost {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    justify-content: center; 
    
    font-size: 17px;
    margin: 25px 0;
    b {
        color: #000;
        padding: 0 10px;   
    }
}
.m-l {
    
    @media (min-width:998px) {
        margin-left: 80px;
    }
}

.care {
    justify-content: center;
    flex-wrap: wrap;
    &_item {
        color: #606d75;
        
        width: 16%;
        & + & {
            margin-left: 4%;
        }
        @media (max-width:890px) {
            width: 32%;
            text-align: center;
            margin-bottom: 15px;
            & + & {
                margin-left: 1%;
            } 
        }
        @media (max-width:650px) {
            width: 49%;
            & + & {
                margin-left: 1%;
            } 
        }
        @media (max-width:500px) {
            width: 100%;
            & + & {
                margin-left: 0%;
            } 
        }
        img {
            margin-bottom: 40x;
            max-width: 100%;
        }
        b {
            display: block;
            color: #2e5250;
            margin-bottom: 27px;
        }
    }
}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev {
    font-size: 66px!important;
    font-family: unset;
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
        outline: none;
}
.owl-carousel .owl-nav button.owl-next {
    right: 0;
}
.owl-carousel .owl-nav button.owl-prev {
    left: 0;   
}
/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
.owl-carousel,.owl-carousel .owl-item{-webkit-tap-highlight-color:transparent;position:relative}.owl-carousel{display:none;width:100%;z-index:1}.owl-carousel .owl-stage{position:relative;-ms-touch-action:pan-Y;touch-action:manipulation;-moz-backface-visibility:hidden}.owl-carousel .owl-stage:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}.owl-carousel .owl-stage-outer{position:relative;overflow:hidden;-webkit-transform:translate3d(0,0,0)}.owl-carousel .owl-item,.owl-carousel .owl-wrapper{-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0)}.owl-carousel .owl-item{min-height:1px;float:left;-webkit-backface-visibility:hidden;-webkit-touch-callout:none}.owl-carousel .owl-item img{display:block;width:100%}.owl-carousel .owl-dots.disabled,.owl-carousel .owl-nav.disabled{display:none}.no-js .owl-carousel,.owl-carousel.owl-loaded{display:block}.owl-carousel .owl-dot,.owl-carousel .owl-nav .owl-next,.owl-carousel .owl-nav .owl-prev{cursor:pointer;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.owl-carousel .owl-nav button.owl-next,.owl-carousel .owl-nav button.owl-prev,.owl-carousel button.owl-dot{background:0 0;color:inherit;border:none;padding:0!important;font:inherit}.owl-carousel.owl-loading{opacity:0;display:block}.owl-carousel.owl-hidden{opacity:0}.owl-carousel.owl-refresh .owl-item{visibility:hidden}.owl-carousel.owl-drag .owl-item{-ms-touch-action:pan-y;touch-action:pan-y;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.owl-carousel.owl-grab{cursor:move;cursor:grab}.owl-carousel.owl-rtl{direction:rtl}.owl-carousel.owl-rtl .owl-item{float:right}.owl-carousel .animated{animation-duration:1s;animation-fill-mode:both}.owl-carousel .owl-animated-in{z-index:0}.owl-carousel .owl-animated-out{z-index:1}.owl-carousel .fadeOut{animation-name:fadeOut}@keyframes fadeOut{0%{opacity:1}100%{opacity:0}}.owl-height{transition:height .5s ease-in-out}.owl-carousel .owl-item .owl-lazy{opacity:0;transition:opacity .4s ease}.owl-carousel .owl-item .owl-lazy:not([src]),.owl-carousel .owl-item .owl-lazy[src^=""]{max-height:0}.owl-carousel .owl-item img.owl-lazy{transform-style:preserve-3d}.owl-carousel .owl-video-wrapper{position:relative;height:100%;background:#000}.owl-carousel .owl-video-play-icon{position:absolute;height:80px;width:80px;left:50%;top:50%;margin-left:-40px;margin-top:-40px;background:url(owl.video.play.png) no-repeat;cursor:pointer;z-index:1;-webkit-backface-visibility:hidden;transition:transform .1s ease}.owl-carousel .owl-video-play-icon:hover{-ms-transform:scale(1.3,1.3);transform:scale(1.3,1.3)}.owl-carousel .owl-video-playing .owl-video-play-icon,.owl-carousel .owl-video-playing .owl-video-tn{display:none}.owl-carousel .owl-video-tn{opacity:0;height:100%;background-position:center center;background-repeat:no-repeat;background-size:contain;transition:opacity .4s ease}.owl-carousel .owl-video-frame{position:relative;z-index:1;height:100%;width:100%}
/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
.owl-theme .owl-dots,.owl-theme .owl-nav{text-align:center;-webkit-tap-highlight-color:transparent}.owl-theme .owl-nav{margin-top:10px}.owl-theme .owl-nav [class*=owl-]{color:#FFF;font-size:14px;margin:5px;padding:4px 7px;background:#D6D6D6;display:inline-block;cursor:pointer;border-radius:3px}.owl-theme .owl-nav [class*=owl-]:hover{background:#869791;color:#FFF;text-decoration:none}.owl-theme .owl-nav .disabled{opacity:.5;cursor:default}.owl-theme .owl-nav.disabled+.owl-dots{margin-top:10px}.owl-theme .owl-dots .owl-dot{display:inline-block;zoom:1}.owl-theme .owl-dots .owl-dot span{width:10px;height:10px;margin:5px 7px;background:#D6D6D6;display:block;-webkit-backface-visibility:visible;transition:opacity .2s ease;border-radius:30px}.owl-theme .owl-dots .owl-dot.active span,.owl-theme .owl-dots .owl-dot:hover span{background:#869791}

.m-v {
    display: none;
    @media (max-width:900px) {
        display: block;
    }
}

.mob_btn {
    margin-left: 15px;
    min-width: 35px;
    display: none;
    @media (max-width:1025px) {
        display: block;
    }
}

.bottom {
    &_l {
        display: flex;
        align-items: flex-end;
        @media (max-width:780px) {
            display: none;
        }
    }
    &_f {
        @media (max-width:997px) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img {
                width: 100%;
            }
        }
    }
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 99;
    @media (max-width:450px) {
        padding: 10px 0;
        .logo img {
            width: 60px;
        }
    }
}
.error {
    border-color: red!important;
}
footer {
    padding: 10px 0;
    .flex {
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        @media (max-width:600px) {
            justify-content: center;
            .inn {
                padding: 15px 0;
            }
        }
    }
}
.tel {
        white-space: nowrap;
        color: #000; 
        text-decoration: none;
        font-size: 27px;
        @media (max-width:640px) {
            font-size: 18px;
        }
        span {
            font-weight: 600;
        }
        &:hover {
            color:  #304c3d; 
        }
    }
.inn {
    text-align: center;
    text-transform: uppercase;
    color: #304b46;
    font-size: 20px;
    
}
.copy {
    text-align: center;
    padding: 15px 0;
    color: #68707b;
}
@media (max-width:450px) {
    .section_h2.flex {
        flex-direction: column;
    }
}
.pop {
    &_bg {
        font-family: 'Open Sans', sans-serif;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 101;
        background: rgba(0,0,0,0.4);
        justify-content: center;
        align-items: center;
        
        display: none;
        &.open {
            display: flex;
            @media (max-width:450px) {
                display: block;
            }
        }
    }
    &_in {
        background: #fff;
        padding: 20px 20px 0 20px;
        @media (max-width:450px) {
            padding: 20px;
        }
        border-radius: 10px;
        position: relative;
        h2 {
            text-align: center;
            padding: 0;
            margin: 0 auto 20px auto;
            max-width: 300px;
            font-size: 22px;
        }
        .form {
            margin-left: auto;
            margin-right: auto;
        }
    }
    &_close {
        position: absolute;
        cursor: pointer;
        width: 35px;
        height: 35px;
        background: #fff;
        border-radius: 50%;
        top: 0;
        right: -40px;
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width:450px) {
            right: 0;   
        }
        svg {
            width: 15px;
            height: 15px;
        }
    }
}